# OpenAI
OPENAI_API_KEY=

# LangSmith 추적
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Cohere (ch01-02)
COHERE_API_KEY=

# Hugging Face (ch01-01)
HF_TOKEN=
